{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="archive__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive__item-container">
      {% if teaser %}
        <div class="archive__item-image">
          <img src="{% if teaser contains '://' %}{{ teaser }}{% else %}{{ teaser | prepend: '/images/' | prepend: base_path }}{% endif %}" alt="Image">
        </div>
      {% else %}
        <!-- Optional: Provide a default image if teaser is not available -->
        <div class="archive__item-image">
          <img src="{{ base_path }}/images/default-image.jpg" alt="Default Image">
        </div>
      {% endif %}
      
      <div class="archive__item-description">
        <h3 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i></a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
          {% endif %}
        </h3>
        
        {% if post.read_time %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
        {% endif %}

        {% if post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }}</p>
        {% endif %}
        
        <p class="archive__item-excerpt" itemprop="description">
          {{ post.excerpt | markdownify | truncatewords: 40 }}
        </p>

        <p><a href="{{ base_path }}{{ post.url }}" rel="permalink">Read More...</a></p>

        {% if post.citation and post.paperurl %}
          <p class="citation">Recommended citation: {{ post.citation }}<br><a href="{{ post.paperurl }}">Download Paper</a></p>
        {% endif %}
      </div>
    </div>
  </article>
</div>
